<div class="footer">
    <div class="text">
        Para más información o detalle de sus inversiones, contacte a su Ejecutivo de Inversiones o llame a la Línea Exclusiva para Clientes (+56 2) 2731 8900.
    </div>
    <div class="links">
        <ul>
            <li><a href="http://www.tanner.cl/servicio-al-cliente/sucursales/" target="_blank">Sucursales</a></li>
            <li><a href="http://clientes.tanner.cl/LineaEtica/LineaEtica.asp" target="_blank">Canal de denuncias</a></li>
            <li><a href="http://www.tanner.cl" target="_blank">tanner.cl</a></li>
        </ul>
    </div>
</div>