<div id="container-full">

    <div id="header">
        <div class="in">
            <div class="head">
                <div class="title">Mis Datos</div>
                <div class="subtitle"></div>
            </div>
        </div>
    </div>
    <div id="content">
        <div class="in">

            <div class="two-col">

                <div class="user-info white-box">
                    <div class="info-col">
                        <div class="info-input">
                            Nombre / Razón Social
                            <input type="text" value="{{bodyCtrl.authService.usuario.NombreCompleto}}" disabled>
                        </div>
                        <div class="info-input">
                            RUT
                            <input type="text" value="{{bodyCtrl.authService.usuario.Rut|rut}}" disabled>
                        </div>
                        <div class="info-input">
                            Dirección Comercial
                            <input type="text" value="{{bodyCtrl.authService.usuario.DireccionComercial}}" disabled>
                        </div>
                        <div class="info-input">
                            Dirección Particular
                            <input type="text" value="{{bodyCtrl.authService.usuario.DireccionParticular}}" disabled>
                        </div>
                        <div class="info-input">
                            Ciudad y País
                            <input type="text" value="{{bodyCtrl.authService.usuario.CiudadPais}}" disabled>
                        </div>
                    </div>
                    <div class="info-col">
                        <div class="info-input">
                            Teléfono Comercial
                            <input type="text" value="{{bodyCtrl.authService.usuario.TelefonoComercial}}" disabled>
                        </div>
                        <div class="info-input">
                            Teléfono Particular
                            <input type="text" value="{{bodyCtrl.authService.usuario.TelefonoParticular}}" disabled>
                        </div>
                        <div class="info-input">
                            E-mail
                            <input type="text" value="{{bodyCtrl.authService.usuario.Email}}" disabled>
                        </div>
                        <div class="info-input">
                            Nº Cuenta Corriente
                            <input type="text" value="{{bodyCtrl.authService.usuario.CuentaCorriente}}" disabled>
                        </div>
                        <div class="info-input">
                            Banco
                            <input type="text" value="{{bodyCtrl.authService.usuario.Banco}}" disabled>
                        </div>
                    </div>
                    <div class="password">
                        <div class="button green">
                            <a href="#/cambiar-contrasena" class="clink" ng-click="bodyCtrl.seleccionarSeccion(-1)">Cambiar contraseña</a>
                        </div>
                    </div>
                    <div class="edit-note">Si necesita cambiar su información contacte a su Ejecutivo de Inversiones.</div>
                </div>

            </div><!--end two-col-->

            <div class="three-col home">
                <div class="executive white-box">
                    <loading param="bodyCtrl.authService.loadingAgente"></loading>
                    <div ng-show="!bodyCtrl.authService.loadingAgente">
                        <div class="photo" ng-style="{'background-image':'url({{bodyCtrl.authService.agente.PathImg}})'}"></div>
                        <div class="text">
                            <div class="name">{{bodyCtrl.authService.agente.Nombre}}</div>
                            <div class="contact">
                                Tel: {{bodyCtrl.authService.agente.Telefono}}<br />
                                E-mail: <a href="mailto:{{bodyCtrl.authService.agente.Email}}">{{bodyCtrl.authService.agente.Email}}</a>
                            </div>
                            <div class="info">
                                Fecha de acreditación: {{bodyCtrl.authService.agente.FechaInicioAcreditacion}}<br />
                                Sucursal: {{bodyCtrl.authService.agente.Sucursal}}
                            </div>
                        </div>
                        <div class="button blue call" ng-show="bodyCtrl.authService.agente.Telefono"><a href="tel:{{bodyCtrl.authService.agente.Telefono}}" class="clink">Llamar</a></div>
                    </div>
                    <div id="clear"></div>
                </div>
            </div>
            <div id="clear"></div>

            <ng-include src="ctrl.constantService.templateFooterURI"></ng-include>

        </div><!--end in-->
    </div><!--end content-->
</div><!--end container-full-->