<!DOCTYPE html>
<html ng-app="tannerPrivadoApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>TannerClientes / Home</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:600,700' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <!-- stylesCss:css -->
    <link rel="stylesheet" href="/.build/css/stylesCss.css">
    <!-- endinject -->
    <!-- stylesLess:css -->
    <link rel="stylesheet" href="/.build/css/stylesLess.css">
    <!-- endinject -->
    <!-- extras:js -->
    <script src="/.build/js/extras.js"></script>
    <!-- endinject -->
    <!-- vendors:js -->
    <script src="/.build/vendors/vendors.js"></script>
    <!-- endinject -->
    <!-- domain:js -->
    <script src="/.build/spa/domain.js"></script>
    <!-- endinject -->
    <!-- app:js -->
    <script src="/.build/spa/app.js"></script>
    <!-- endinject -->
</head>
<body ng-controller="BodyCtrl as bodyCtrl">
    <div ng-if="bodyCtrl.authService.autenticado">

        @Html.Partial("_LoginPartial")

        <div id="bar">
            <div class="in">
                <div class="logo"><a href="#/" class="clink" ng-click="bodyCtrl.seleccionarSeccion(0)"></a></div>
                <div class="menubar">
                    <div class="menuitem"><a href="#/mis-inversiones" class="clink" ng-click="bodyCtrl.seleccionarSeccion(1)">Mis Inversiones</a></div>
                    <div class="menuitem"><a href="productos.html" class="clink" ng-click="bodyCtrl.seleccionarSeccion(2)">Productos y Servicios</a></div>
                    <div class="menuitem"><a href="#/informacion-financiera" class="clink" ng-click="bodyCtrl.seleccionarSeccion(3)">Información Financiera</a></div>
                    <div class="menuitem"><a href="#/inversiones" class="clink" ng-click="bodyCtrl.seleccionarSeccion(4)">Inversión a su Medida</a></div>
                </div>
            </div>
        </div>

        <div id="bar_mobile">
            <div class="in">
                <div class="logo"></div>
                <div class="user"><a href="#/mis-datos" class="clink" ng-click="bodyCtrl.seleccionarSeccion(-1)"></a></div>
                <div class="logout">@Html.ActionLink("-", "SignOut", "Account", new { @class = "clink" })</div>
            </div>
        </div>

        <div id="tabbar">
            <div class="tab home" ng-class="{'active':bodyCtrl.seccionId == 0}">
                <a href="#/" class="clink" ng-click="bodyCtrl.seleccionarSeccion(0)"></a>
            </div>
            <div class="tab mis-inversiones" ng-class="{'active':bodyCtrl.seccionId == 1}">
                <a href="#/mis-inversiones" class="clink" ng-click="bodyCtrl.seleccionarSeccion(1)"></a>
            </div>
            <div class="tab productos" ng-class="{'active':bodyCtrl.seccionId == 2}">
                <a href="productos.html" class="clink" ng-click="bodyCtrl.seleccionarSeccion(2)"></a>
            </div>
            <div class="tab info" ng-class="{'active':bodyCtrl.seccionId == 3}">
                <a href="#/informacion-financiera" class="clink" ng-click="bodyCtrl.seleccionarSeccion(3)"></a>
            </div>
            <div class="tab inversiones" ng-class="{'active':bodyCtrl.seccionId == 4}">
                <a href="#/inversiones" class="clink" ng-click="bodyCtrl.seleccionarSeccion(4)"></a>
            </div>
        </div>

        <ng-view></ng-view>
    </div>
</body>
</html>
