<!DOCTYPE html>
<html ng-app="tannerPrivadoApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>TannerClientes / Home</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:600,700' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <!-- stylesCss:css -->
    <link rel="stylesheet" href="/.build/css/stylesCss.css">
    <!-- endinject -->
    <!-- stylesLess:css -->
    <link rel="stylesheet" href="/.build/css/stylesLess.css">
    <!-- endinject -->
    <!-- extras:js -->
    <script src="/.build/js/extras.js"></script>
    <!-- endinject -->
    <!-- vendors:js -->
    <script src="/.build/vendors/vendors.js"></script>
    <!-- endinject -->
    <!-- domain:js -->
    <script src="/.build/spa/domain.js"></script>
    <!-- endinject -->
    <!-- app:js -->
    <script src="/.build/spa/app.js"></script>
    <!-- endinject -->
</head>
<body>

    @Html.Partial("_LoginPartial")
    
    <div id="bar">
        <div class="in">
            <div class="logo"><a href="#/" class="clink"></a></div>
            <div class="menubar">
                <div class="menuitem"><a href="#/mis-inversiones" class="clink">Mis Inversiones</a></div>
                <div class="menuitem"><a href="productos.html" class="clink">Productos y Servicios</a></div>
                <div class="menuitem"><a href="info_estatutos.html" class="clink">Información Financiera</a></div>
                <div class="menuitem"><a href="#/inversiones" class="clink">Inversión a su Medida</a></div>
            </div>
        </div>
    </div>

    <div id="bar_mobile">
        <div class="in">
            <div class="logo"></div>
            <div class="user"><a href="mis-datos.html" class="clink"></a></div>
            <div class="logout"><a href="login.html" class="clink"></a></div>
        </div>
    </div>

    <div id="tabbar">
        <div class="tab home active">
            <a href="index.html" class="clink"></a>
        </div>
        <div class="tab mis-inversiones">
            <a href="mis-inversiones_nacionales.html" class="clink"></a>
        </div>
        <div class="tab productos">
            <a href="productos.html" class="clink"></a>
        </div>
        <div class="tab info">
            <a href="info_estatutos.html" class="clink"></a>
        </div>
        <div class="tab inversiones">
            <a href="inversiones.html" class="clink"></a>
        </div>
    </div>

    <ng-view></ng-view>

</body>
</html>
