<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->

  <appSettings>

    <!-- TANNER DB CONNECTION STRING -->
    <add key="sql:ConnectionString" value="Data Source=SQL2014Prod.database.Windows.net;Initial Catalog=BDClientes_Prod;User ID=externo_kunder;Password=tanner.2016" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <!-- TANNER B2C QA CREDENTIALS -->
    <add key="ida:RedirectUri" value="https://tannerdes.azurewebsites.net" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <!-- Temporal password -->
    <add key="tempPass:Timeout" value="1" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <!-- Accepted domains -->
    <add key="web:AcceptedDomains" value="sitiopublicoqa.azurewebsites.net;azurewebsites.net" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <!-- Post logout url -->
    <add key="web:PostLogoutRedirectUrl" value="https://sitiopublicoqa.azurewebsites.net" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <!-- Contact phone number -->
    <add key="web:ContactPhoneNumber" value="(+56) 2 2674 7500" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <!-- Base URL for Javascript Login-->
    <add key="web:BaseURL" value="https://sitiopublicoqa.azurewebsites.net" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>

  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>

  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="" xdt:Transform="Replace">
        <network host="" userName="" password="" xdt:Transform="Replace"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
