<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->

  <appSettings xdt:Transform="Insert">
    <!-- TANNER DB CONNECTION STRING -->
    <add key="sql:ConnectionString" value="Data Source=sql2014des.database.windows.net;Initial Catalog=BDClientes_desa;User ID=externo_kunder;Password=tanner.2015" />

    <!-- B2C -->
    <add key="ida:RedirectUri" value="http://localhost:63495/" />
    <add key="ida:Tenant" value="kundertannerprivado.onmicrosoft.com" />
    <add key="ida:ClientId" value="cf6f8deb-1db9-47c7-a870-d78973dacfd8" />
    <add key="b2c:Tenant" value="kundertannerprivado.onmicrosoft.com" />
    <add key="b2c:ClientId" value="e4ae4cc5-38e8-4343-aace-1ecf01e719d7" />
    <add key="b2c:ClientSecret" value="OzbalyFPKUG9fzDzW9kha/sM8TvtBF4I1JjfBr8/wmY=" />
    <add key="b2c:Extensions" value="extension_a6b5e5e1326d4a29b9c3133f68b8e3e2_" />
    <add key="ida:AppKey" value="3$EhzpJzDr25U2}#" />
  </appSettings>
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
