<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Sitio_Privado.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>  
    <!-- TODO: change keys-->
    <!-- LOCAL KEY -->
    <!--<add name="StorageConnection" connectionString="DefaultEndpointsProtocol=https;AccountName=devtannerstorage;AccountKey=6I0ZZg8MXr05m1Pmr4Esvrw5km9QbA+QLUcSM3D3/w04bXqj6IIrI20jtbBm5dJw0u77miHxjCdfb6M6/yEfZw==;BlobEndpoint=https://devtannerstorage.blob.core.windows.net/;FileEndpoint=https://devtannerstorage.file.core.windows.net/" /> -->
    <!-- TANNER DEV KEY -->
    <add name="StorageConnection" connectionString="DefaultEndpointsProtocol=https;AccountName=storagetannerwebdesa;AccountKey=F2+cYNGRAoXVfVS7GRNmsZaTIrKBeCK03rqmW5F6opdZID+jC4PMUN59f60SipXgb3w9NUl+u2u8UKuUuYYmzA==;BlobEndpoint=https://storagetannerwebdesa.blob.core.windows.net/;TableEndpoint=https://storagetannerwebdesa.table.core.windows.net/;QueueEndpoint=https://storagetannerwebdesa.queue.core.windows.net/;FileEndpoint=https://storagetannerwebdesa.file.core.windows.net/" />
    
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="ida:AadInstance" value="https://login.microsoftonline.com/{0}{1}{2}" />
    <add key="ida:SignInPolicyId" value="B2C_1_SignIn" />

    <!-- TANNER DB CONNECTION STRING -->
    <add key="sql:ConnectionString" value="Data Source=sql2014des.database.windows.net;Initial Catalog=BDClientes_desa;User ID=externo_kunder;Password=tanner.2015" />
    
    <!-- WEBSERVICES CREDENTIALS -->
    <add key="ws:username" value="wsdestsf" />
    <add key="ws:password" value="$2a$10$gOV5QvJGiIR8OSpD/GBU0uYF4ADGcHIr2oda/MLhEAmEUDq/jSoiK" />

    <!-- B2C -->
    <!-- KUNDER DEV KEYS
    <add key="ida:RedirectUri" value="http://localhost:63495/" />
    <add key="ida:Tenant" value="kundertannerprivado.onmicrosoft.com" />
    <add key="ida:ClientId" value="cf6f8deb-1db9-47c7-a870-d78973dacfd8" />
    <add key="b2c:Tenant" value="kundertannerprivado.onmicrosoft.com" />
    <add key="b2c:ClientId" value="e4ae4cc5-38e8-4343-aace-1ecf01e719d7" />
    <add key="b2c:ClientSecret" value="OzbalyFPKUG9fzDzW9kha/sM8TvtBF4I1JjfBr8/wmY=" />
    <add key="b2c:Extensions" value="extension_a6b5e5e1326d4a29b9c3133f68b8e3e2_" />
    <add key="ida:AppKey" value="3$EhzpJzDr25U2}#" /-->

    <!-- TANNER DEV KEYS -->
    <add key="ida:RedirectUri" value="http://localhost:63495/" />
    <add key="ida:Tenant" value="tannerprivadodesa.onmicrosoft.com" />
    <add key="ida:ClientId" value="15589b89-80f1-43e9-8e88-187d8077010f" />
    <add key="ida:AppKey" value="3$EhzpJzDr25U2}#" />
    <add key="b2c:Tenant" value="tannerprivadodesa.onmicrosoft.com" />
    <add key="b2c:ClientId" value="9bd4581e-c649-4dd9-92d4-69ca97a64bff" />
    <add key="b2c:ClientSecret" value="+a0sGPB18lflo6mJKovt5YQEWA7eGkxCAa2tT75aHVI=" />
    <add key="b2c:Extensions" value="extension_42fa6777fcfa43508ced9f7eb3cc6ffe_" />

    <!-- Synchronization Task Scheduler Params -->
    <add key="sync:IntervalInHours" value="24" />
    <add key="sync:ExecutionTimeHour" value="21" />
    <add key="sync:ExecutionTimeMinutes" value="0" />

  </appSettings>
  <system.web>
    <globalization culture="es-CL" uiCulture="es-CL" />
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.6" />
    <authentication mode="None" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <staticContent>
      <mimeMap fileExtension="woff" mimeType="application/font-woff" />
    </staticContent>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="app" />
        </hiddenSegments>
      </requestFiltering>
    </security>
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.20622.1351" newVersion="4.0.20622.1351" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocol.Extensions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.2.33" newVersion="1.0.2.33" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <applicationSettings>
    <Sitio_Privado.Properties.Settings>
      <setting name="Sitio_Privado_CategoriaInversionista_tann_catsvc"
        serializeAs="String">
        <value>https://www.tannercliente.cl/wstsf/tann_catsvc.asmx</value>
      </setting>
      <setting name="Sitio_Privado_ConsultaSaldosFondosMutuos_tann_fondos_mutuos"
        serializeAs="String">
        <value>https://www.tannercliente.cl/wstsf/tann_fondos_mutuos.asmx</value>
      </setting>
      <setting name="Sitio_Privado_IndicesLiquidezSolvencia_tann_indicadores"
        serializeAs="String">
        <value>https://www.tannercliente.cl/wstsf/tann_indicadores.asmx</value>
      </setting>
      <setting name="Sitio_Privado_InformacionClienteAgente_tann_info_cliente"
        serializeAs="String">
        <value>https://www.tannercliente.cl/wstsf/tann_info_cliente.asmx</value>
      </setting>
      <setting name="Sitio_Privado_DocumentosPendientesFirma_tann_documentos"
        serializeAs="String">
        <value>https://www.tannercliente.cl/wstsf/tann_documentos.asmx</value>
      </setting>
      <setting name="Sitio_Privado_CartolaResumida_tann_cartola_resumida"
        serializeAs="String">
        <value>https://www.tannercliente.cl/wstsf/tann_cartola_resumida.asmx</value>
      </setting>
      <setting name="Sitio_Privado_CircularizacionCustodia_tann_circularizacion"
        serializeAs="String">
        <value>https://www.tannercliente.cl/wstsf/tann_circularizacion.asmx</value>
      </setting>
      <setting name="Sitio_Privado_SuscripcionFirmaElecDoc_tann_suscrip_firmelec"
        serializeAs="String">
        <value>https://www.tannercliente.cl/wstsf/tann_suscrip_firmelec.asmx</value>
      </setting>
    </Sitio_Privado.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>
