<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->

  <appSettings>

    <!-- B2C -->
    <!-- KUNDER DEV KEYS -->
    <add key="ida:RedirectUri" value="https://privado.tanner.kunder.cl/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ida:Tenant" value="kundertannerprivado.onmicrosoft.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ida:ClientId" value="cf6f8deb-1db9-47c7-a870-d78973dacfd8" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="b2c:Tenant" value="kundertannerprivado.onmicrosoft.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="b2c:ClientId" value="e4ae4cc5-38e8-4343-aace-1ecf01e719d7" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="b2c:ClientSecret" value="OzbalyFPKUG9fzDzW9kha/sM8TvtBF4I1JjfBr8/wmY=" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="b2c:Extensions" value="extension_a6b5e5e1326d4a29b9c3133f68b8e3e2_" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ida:AppKey" value="3$EhzpJzDr25U2}#" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <!-- Temporal password -->
    <add key="tempPass:Timeout" value="0.1" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <!-- Accepted domains -->
    <add key="web:AcceptedDomains" value="kundertannerprivado.azurewebsites.net;azurewebsites.net;privado.tanner.kunder.cl;tanner.kunder.cl;kunder.cl;www.kunder.cl;tanner.cl;www.tanner.cl" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <!-- Post logout url -->
    <add key="web:PostLogoutRedirectUrl" value="http://www.kunder.cl/tannercl" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <!-- Contact phone number -->
    <add key="web:ContactPhoneNumber" value="(+56) 2 2674 7500" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <!-- Base URL for Javascript Login-->
    <add key="web:BaseURL" value="https://privado.tanner.kunder.cl" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <!-- Timezone for timestamp mail -->
    <add key="web:TimeZone" value="Eastern Standard Time" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
  
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>

</configuration>
