<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->

  <appSettings>

    <!-- TANNER DB CONNECTION STRING -->
    <add key="sql:ConnectionString" value="Data Source=SQL2014Prod.database.Windows.net;Initial Catalog=BDClientes_Prod;User ID=externo_kunder;Password=tanner.2016" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    
    <!-- TANNER B2C RELEASE CREDENTIALS -->
    <add key="ida:RedirectUri" value="https://accesoclientes.tanner.cl" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ida:Tenant" value="tannerclientesprod.onmicrosoft.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ida:ClientId" value="dbc18d90-9cb1-47e9-809d-eca48f7211fe" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ida:AppKey" value="3$EhzpJzDr25U2}#" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="b2c:Tenant" value="tannerclientesprod.onmicrosoft.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="b2c:ClientId" value="6c2556d5-0f4e-4401-9748-f818d1dc7ce1" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="b2c:ClientSecret" value="X8gau2rHzSIIbFxjoyUNtjGSgQr7D3QUf0L2RFO7Ua0=" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="b2c:Extensions" value="extension_7815a5c4e45c4530bed3aa868b10ec1b_" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <system.webServer>
    <rewrite xdt:Transform="Insert">
      <rules>
        <rule name="Redirect to https">
          <match url="(.*)"/>
          <conditions>
            <add input="{HTTPS}" pattern="Off"/>
            <add input="{REQUEST_METHOD}" pattern="^get$|^head$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>

  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="" xdt:Transform="Replace">
        <network host="" userName="" password="" xdt:Transform="Replace"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
