<div id="container-full">

    <div id="header">
        <div class="in">
            <div class="head">
                <div class="title">Inversión a su Medida</div>
                <div class="subtitle">Conozca nuestros perfiles de inversión.</div>
            </div>
        </div>
    </div>

    <div id="content">
        <div class="in">
            <div class="col-left products">
                <loading param="ctrl.loading"></loading>
                <div class="profile-products white-box" ng-show="!ctrl.loading">
                    <div class="title">Perfiles</div>
                    Estos son nuestros perfiles de inversión:
                    <ul>
                        <li ng-repeat="categoria in ctrl.categorias">
                            <a href="" ng-click="ctrl.scrollTo('cat' + categoria.Descriptor)">{{categoria.Descriptor}}</a>
                        </li>
                    </ul>
                    <div class="go-to-inversiones"><a href="#/productos-servicios" class="clink">Conozca sus Productos</a></div>
                </div>
            </div>
            
            <div class="col-right products">
                <loading param="ctrl.loading"></loading>
                <div ng-repeat="categoria in ctrl.categorias" ng-show="!ctrl.loading">
                    <div id="cat{{categoria.Descriptor}}" class="one-product white-box">
                        <div class="img {{categoria.Descriptor.toLowerCase()}}"></div>
                        <div class="text">
                            <div class="title">Perfil {{categoria.Descriptor}}</div>
                            <div class="description">
                                <p align="justify">{{categoria.Comentario}}</p>
                                <ul>
                                    <li ng-repeat="producto in categoria.Productos">
                                        {{producto.Descriptor}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="clear"></div>

            <ng-include src="ctrl.constantService.templateFooterURI"></ng-include>

        </div><!--end in-->
    </div><!--end content-->

</div><!--end container-full-->