@if (Request.IsAuthenticated)
{
    <div id="prebar">
        <div class="user"><a href="#/mis-datos" class="clink" ng-click="bodyCtrl.seleccionarSeccion(-1)"> @Usuario.NombreCompleto | Mis Datos</a></div>
        <div class="logout">@Html.ActionLink("Cerrar Sesión", "SignOut", "Account")</div>
    </div>
}
