@if (Request.IsAuthenticated)
{
    <div id="prebar">
        <div class="user"><a href="mis-datos.html"> @User.GiveName | Mis Datos</a></div>
        <div class="logout">@Html.ActionLink("Cerrar Sesión", "SignOut", "Account")</div>
    </div>
}
