@model Sitio_Privado.Models.ChangePasswordModel
<!DOCTYPE html>
<html ng-app="tannerPrivadoApp" lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>TannerClientes / Cambiar contraseña</title>
    <link rel="stylesheet" type="text/css" href="/.build/css/stylesCss.css" />
    <link rel="stylesheet" type="text/css" href="/.build/css/stylesLess.css" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:600,700' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript" src="/.build/vendors/vendors.js"></script>
</head>
<body>

    <div id="prebar">
        <div class="user"><a href="#/mis-datos" class="clink" ng-click="bodyCtrl.seleccionarSeccion(-1)">{{ bodyCtrl.authService.usuario.NombreCompleto }} | Mis Datos</a></div>
        <div class="logout"><a href="" ng-click="bodyCtrl.authService.cerrarSesion()">Cerrar Sesión</a></div>
    </div>

    <div id="bar">
        <div class="in">
            <div class="logo"><a href="#/" class="clink" ng-click="bodyCtrl.seleccionarSeccion(0)"></a></div>
            <div class="menubar">
                <div class="menuitem"><a href="#/mis-inversiones" class="clink" ng-click="bodyCtrl.seleccionarSeccion(1)">Mis Inversiones</a></div>
                <div class="menuitem"><a href="#/productos-servicios" class="clink" ng-click="bodyCtrl.seleccionarSeccion(2)">Productos y Servicios</a></div>
                <div class="menuitem"><a href="#/informacion-financiera" class="clink" ng-click="bodyCtrl.seleccionarSeccion(3)">Información Financiera</a></div>
                <div class="menuitem"><a href="#/inversiones" class="clink" ng-click="bodyCtrl.seleccionarSeccion(4)">Inversión a su Medida</a></div>
            </div>
        </div>
    </div>

    <div id="bar_mobile">
        <div class="in">
            <div class="logo"><a href="#/" class="clink" ng-click="bodyCtrl.seleccionarSeccion(0)"></a></div>
            <div class="user"><a href="#/mis-datos" class="clink" ng-click="bodyCtrl.seleccionarSeccion(-1)"></a></div>
            <div class="logout"><a href="" class="clink" ng-click="bodyCtrl.authService.cerrarSesion()"></a></div>
        </div>
    </div>

    <div id="tabbar">
        <div class="tab home" ng-class="{'active':bodyCtrl.seccionId == 0}">
            <a href="#/" class="clink" ng-click="bodyCtrl.seleccionarSeccion(0)"></a>
        </div>
        <div class="tab mis-inversiones" ng-class="{'active':bodyCtrl.seccionId == 1}">
            <a href="#/mis-inversiones" class="clink" ng-click="bodyCtrl.seleccionarSeccion(1)"></a>
        </div>
        <div class="tab productos" ng-class="{'active':bodyCtrl.seccionId == 2}">
            <a href="#/productos-servicios" class="clink" ng-click="bodyCtrl.seleccionarSeccion(2)"></a>
        </div>
        <div class="tab info" ng-class="{'active':bodyCtrl.seccionId == 3}">
            <a href="#/informacion-financiera" class="clink" ng-click="bodyCtrl.seleccionarSeccion(3)"></a>
        </div>
        <div class="tab inversiones" ng-class="{'active':bodyCtrl.seccionId == 4}">
            <a href="#/inversiones" class="clink" ng-click="bodyCtrl.seleccionarSeccion(4)"></a>
        </div>
    </div>

    <div id="container-full">

        <div id="header">
            <div class="in">
                <div class="head">
                    <div class="title">Mis Datos</div>
                    <div class="subtitle"></div>
                </div>
            </div>
        </div>
        <div id="content">
            <div class="in">

                <div class="status-message" style="display:none;">
                    <div class="ok">La contraseña se ha cambiado exitosamente.</div>
                    <div class="error">Ha ocurrido un error.</div>
                </div>

                <div class="two-col">

                    <div class="user-info white-box">
                        <div class="info-col">
                            <div class="in-title">Cambiar contraseña</div>
                            <div class="info-input">
                                Contraseña actual
                                <input type="password">
                            </div>
                            <div class="info-input">
                                Nueva contraseña
                                <input type="password">
                            </div>
                            <div class="do-not-match" style="display:none;">
                                La contraseña debe incluir letras, números y carácteres especiales.
                            </div>
                            <div class="info-input">
                                Repetir nueva contraseña
                                <input type="password">
                            </div>
                            <div class="do-not-match" style="display:none;">
                                Las contraseñas no coinciden.
                            </div>
                            <div class="button green">
                                <a href="#">Guardar</a>
                            </div>
                        </div>
                        <div class="edit-note none">
                        </div>
                    </div>

                </div><!--end two-col-->

                <div class="three-col home">
                    <div class="executive white-box">
                        <div class="photo"></div>
                        <div class="text">
                            <div class="name">Mario Correa Pérez</div>
                            <div class="contact">
                                Tel: (+56 2) 2731 8933<br />
                                E-mail: <a href="mailto:mail">mcorreap@tanner.cl</a>
                            </div>
                            <div class="info">
                                Fecha de acreditación: 09/11/2015<br />
                                Sucursal: Santiago
                            </div>
                        </div>
                        <div class="button blue call"><a href="tel:9999999" class="clink">Llamar</a></div>
                        <div id="clear"></div>
                    </div>
                </div>
                <div id="clear"></div>

                <div class="footer">
                    <div class="text">
                        Para más información o detalle de sus inversiones, contacte a su Ejecutivo de Inversiones o llame a la Línea Exclusiva para Clientes (+56 2) 2731 8900
                    </div>
                    <div class="links">
                        <ul>
                            <li><a href="#" target="_blank">Sucursales</a></li>
                            <li><a href="#" target="_blank">Canal de denuncias</a></li>
                            <li><a href="http://www.tanner.cl" target="_blank">Tanner.cl</a></li>
                        </ul>
                    </div>
                </div>

            </div><!--end in-->
        </div><!--end content-->
    </div><!--end container-full-->
</body>
</html>
