@model Sitio_Privado.Extras.Email

To: @Model.UserEmail
From: postal@myapp.com
Subject: Nueva cuenta de Usuario Tanner
Content-Type: text/html; charset=utf-8

<html>
    <body>
        <div>
            Estimado(a) @Model.UserFullName:
        </div>
        <div>
            Se ha creado una cuenta de usuario para usted. El primer paso que debe realizar es la activación de la misma accediendo
            a la dirección https://tannerdes.azurewebsites.net con su Rut y la siguiente clave temporal:
        </div>
        <div>
            <b>@Model.UserPassword</b>
        </div>
        <div>
            Al ingresar por primera vez, se le soliciará que cree una nueva clave. Para esto, siga las instrucciones que se presentarán
            en la página.
        </div>
        <div>
            Atte.,<br />
            Tanner
        </div>
    </body>
</html>