<div id="container">
    <div id="header">
        <div class="in">
            <div class="head">
                <div class="title">Índices de Liquidez y Solvencia Patrimonial</div>
                <div class="subtitle"></div>
            </div>
        </div>
    </div>

    <div id="content" ng-controller="InformacionFinancieraIndicesCtrl as indicesCtrl">
        <div class="in">

            <!-- Temporal KUNDER-->
            <div class="filter date">
                <div class="date-field">
                    Seleccione fecha: <input type="date" ng-model="indicesCtrl.fecha" required>
                </div>
                <div class="apply-filter pag-button"><a href="" class="clink" ng-click="indicesCtrl.actualizarIndices()"></a></div>
            </div>

            <div class="one-col">

                <div class="section-title">Empresa</div>
                <div class="col-tannersa">
                    <div class="name">Razón Social:</div>
                    <div class="info">{{indicesCtrl.indices.DescriptorTCB}}</div>
                    <div class="name">R.U.T.:</div>
                    <div class="info">{{indicesCtrl.indices.RutTCB}}</div>
                    <div class="name">Información al:</div>
                    <div class="info">{{indicesCtrl.indices.FechaConsulta}}</div>
                    <div class="name">Patrimonio depurado:</div>
                    <div class="info">M$ {{indicesCtrl.indices.PatrimonioDepurado}}</div>
                </div>

                <div class="section-title">Índices de Liquidez y Solvencia</div>

                <div class="col-rates">
                    <div class="rate white-box">
                        <div class="title">Liquidez general</div>
                        <div id="cont-table">
                            <table class="rates">
                                <tr>
                                    <td>Activos disponibles y realizables hasta 7 días</td>
                                    <td>=M$</td>
                                    <td><div class="one-rate">{{indicesCtrl.indices.ActivosSieteDias}}</div></td>
                                    <td rowspan="2">{{indicesCtrl.indices.LiquidezGeneral}} veces</td>
                                </tr>
                                <tr>
                                    <td>Pasivos exigibles hasta 7 días</td>
                                    <td>=M$</td>
                                    <td><div class="one-rate">{{indicesCtrl.indices.PasivosSieteDias}}</div></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="rate white-box">
                        <div class="title">Liquidez por intermediación</div>
                        <div id="cont-table">
                            <table class="rates">
                                <tr>
                                    <td>Activos disponibles más deudores por intermediación</td>
                                    <td>=M$</td>
                                    <td><div class="one-rate">{{indicesCtrl.indices.ActivosIntermediacion}}</div></td>
                                    <td rowspan="2">{{indicesCtrl.indices.LiquidezIntermediacion}} veces</td>
                                </tr>
                                <tr>
                                    <td>Acreedores por intermediación</td>
                                    <td>=M$</td>
                                    <td><div class="one-rate">{{indicesCtrl.indices.AcreedoresIntermediacion}}</div></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-rates">
                    <div class="rate white-box">
                        <div class="title">Razón de endeudamiento</div>
                        <div id="cont-table">
                            <table class="rates">
                                <tr>
                                    <td>Total pasivos exigibles</td>
                                    <td>=M$</td>
                                    <td><div class="one-rate">{{indicesCtrl.indices.TotalPasivosExigibles}}</div></td>
                                    <td rowspan="2">{{indicesCtrl.indices.RazonEndeudamiento}} veces</td>
                                </tr>
                                <tr>
                                    <td>Patrimonio líquido</td>
                                    <td>=M$</td>
                                    <td><div class="one-rate">{{indicesCtrl.indices.PatrimonioLiquido}}</div></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="rate white-box">
                        <div class="title">Razón de cobertura patrimonial</div>
                        <div id="cont-table">
                            <table class="rates">
                                <tr>
                                    <td>Monto cobertura patrimonial</td>
                                    <td>=M$</td>
                                    <td><div class="one-rate">{{indicesCtrl.indices.MontoCoberturaPatrimonial}}</div></td>
                                    <td rowspan="2">{{indicesCtrl.indices.RazonCoberturaPatrimonial}}%</td>
                                </tr>
                                <tr>
                                    <td>Patrimonio líquido</td>
                                    <td>=M$</td>
                                    <td><div class="one-rate">{{indicesCtrl.indices.PatrimonioLiquido}}</div></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="legal"></div>

            </div><!--end one-col -->
            <div id="clear"></div>

            <ng-include src="ctrl.constantService.templateFooterURI"></ng-include>

        </div><!--end in-->
    </div><!--end content-->

</div><!--end container-->

<div id="clear"></div>