<div id="container">
    <div id="header">
        <div class="in">
            <div class="head">
                <div class="title">Circularización</div>
                <div class="subtitle"></div>
            </div>
        </div>
    </div>

    <div id="content" ng-controller="MisInversionesCircularizacionCtrl as circularizacionCtrl">
        <div class="in">

            <div class="areas">
                <div class="one-area"><a href="" class="clink" ng-class="{'active':circularizacionCtrl.seccionId == 0 || circularizacionCtrl.seccionId == 2 || circularizacionCtrl.seccionId == 3 }" ng-click="circularizacionCtrl.seleccionarSeccion(0)">Pendiente</a></div>
                <div class="one-area"><a href="" class="clink" ng-class="{'active':circularizacionCtrl.seccionId == 1}" ng-click="circularizacionCtrl.seleccionarSeccion(1)">Anterior</a></div>
            </div>

            <ng-include src="circularizacionCtrl.seccionURI"></ng-include>
            
            <div id="clear"></div>

            <ng-include src="ctrl.constantService.templateFooterURI"></ng-include>

        </div><!--end in-->
    </div><!--end content-->

</div><!--end container-->

<div id="clear"></div>