<div id="wrap">

    <div id="sidemenu">
        <div class="title">Mis Inversiones</div>
        <ul id="menu2">
            <li class="inv-nacionales" ng-class="{'active':ctrl.seccionId == 0}">
                <a href="" class="clink" ng-click="ctrl.seleccionarSeccion(0)">
                    Inversiones Nacionales
                </a>
            </li>
            <li class="inv-internacionales">
                <a href="https://www4.netxselect.com/home_UNIVERSAL.htm​" target="_blank" class="clink">
                    Inversiones Internacionales
                    <img src="../.build/img/icon_external-link.png" class="external-link" />
                </a>
            </li>
            <li class="fondos-mutuos" ng-class="{'active':ctrl.seccionId == 2}">
                <a href="" class="clink" ng-click="ctrl.seleccionarSeccion(2)">
                    Fondos Mutuos y APV
                </a>
            </li>
            <li class="estado-documentos" ng-class="{'active':ctrl.seccionId == 3}">
                <a href="" class="clink" ng-click="ctrl.seleccionarSeccion(3)">
                    Estado de Documentos
                </a>
            </li>
            <li class="circularizacion" ng-class="{'active':ctrl.seccionId == 4}">
                <a href="" class="clink" ng-click="ctrl.seleccionarSeccion(4)">
                    Circularización
                </a>
            </li>
        </ul>
    </div>

    <ng-include src="ctrl.seccionURI"></ng-include>

</div><!--end wrap-->