<appSettings>
    <add key="LDAPDomain" value="192.168.118.44" />
    <add key="LDAPAdminUsername" value="cn=oauth_desa" />
    <add key="LDAPAdminPassword" value="04uthdesasrv2016!" />
    <add key="LDAPCustomerBaseDN" value="ou=usuarios,CN=TANNER" />
    <add key="LDAPUsersBaseDN" value="ou=usuarios,CN=TANNER" />    
    <add key="LDAPGroupsBaseDN" value="ou=grupos,CN=TANNER" />
</appSettings>
