<div id="container">
    <div id="header">
        <div class="in">
            <div class="head">
                <div class="title">Comité de Regulación Bolsa de Comercio de Santiago</div>
                <div class="subtitle"></div>
            </div>
        </div>
    </div>

    <div id="content">
        <div class="in">
            <div class="one-col documents">
                <div class="section-title">Información Comité de Regulación de la Bolsa de Comercio de Santiago</div>
                <div class="wrap-docs">
                    <div class="one-doc link">
                        <div class="name">Objetivos</div>
                        <div class="download link">
                            <a href="http://www.bolsadesantiago.com/Biblioteca%20de%20Archivos/Extension/Documentos/Objetivos%20del%20Comit%C3%A9%20de%20Buenas%20Pr%C3%A1cticas.pdf"
                               class="clink" target="_blank"></a>
                        </div>
                    </div>
                    <div class="one-doc link">
                        <div class="name">Miembros y Resoluciones</div>
                        <div class="download link">
                            <a href="http://www.bolsadesantiago.com/regulacion/Paginas/ComiteBuenasPracticas.aspx" class="clink" target="_blank"></a>
                        </div>
                    </div>
                    <div class="one-doc link">
                        <div class="name">Normativas</div>
                        <div class="download link">
                            <a href="http://www.bolsadesantiago.com/regulacion/Paginas/NormativaBCS.aspx" class="clink" target="_blank"></a>
                        </div>
                    </div>
                    <div class="one-doc link">
                        <div class="name">Instructivos y Reclamos</div>
                        <div class="download link">
                            <a href="http://www.bolsadesantiago.com/Biblioteca%20de%20Archivos/Extension/Documentos/Instructivo%20de%20Reclamo.pdf" class="clink"
                               target="_blank"></a>
                        </div>
                    </div>
                </div>
            </div><!--end one-col -->
            <div id="clear"></div>

            <ng-include src="ctrl.constantService.templateFooterURI"></ng-include>

        </div><!--end in-->
    </div><!--end content-->

</div><!--end container-->

<div id="clear"></div>
