<div class="modal-style modal1">
    <div class="pretitle">Pendiente</div>
    <div class="title">Circularización Anual de Custodia {{modal.authService.fechaCircularizacion|date:'y'}}</div>
    <div class="text">Estimado Cliente,<br /> En conformidad a lo dispuesto en la Circular 1962 de la Superintendencia de Valores y Seguros (SVS), solicitamos a usted revisar los informes de saldos, que de acuerdo a nuestros registros se encuentran depositados a su nombre en custodia y/o garantía de Tanner Corredores de Bolsa S.A. al día {{modal.authService.fechaCircularizacion|date:'longDate'}}.</div>
    <div class="button green"><a href="" class="clink" ng-click="modal.ok()">Continuar</a></div>
    <button class="modal-close" ng-click="modal.cancelar()"></button>
</div>