<div class="one-col">

    <loading param="circularizacionCtrl.pendienteLoading"></loading>

    <div class="one-pending" ng-if="circularizacionCtrl.pendienteResultado.Resultado" ng-show="!circularizacionCtrl.pendienteLoading">
        <div class="title">
            Usted tiene una circularización pendiente de aprobación.<br />
            <strong>Circularización Anual de Custodia {{circularizacionCtrl.fecha|date:'y'}}</strong>
        </div>
        <div class="button green"><a href="" ng-click="circularizacionCtrl.seleccionarSeccion(1)">Revisar</a></div>
    </div>

    <div class="none-pending" ng-if="!circularizacionCtrl.pendienteResultado.Resultado" ng-show="!circularizacionCtrl.pendienteLoading">
        <div class="none">No hay ninguna circularización pendiente.</div>
    </div>

    <div class="legal">
        La información sobre los saldos presentados más arriba corresponde exclusivamente a aquellos clientes titulares directos, en Principal Administradores General de Fondos S.A. La información sobre los saldos presentados más arriba corresponde exclusivamente a aquellos clientes titulares directos, en Principal Administradores General de Fondos S.A. La información sobre los saldos presentados más arriba corresponde exclusivamente a aquellos clientes titulares directos, en Principal Administradores General de Fondos S.A.
    </div>

</div><!--end one-col -->
