<div id="wrap">

    <div id="sidemenu">
        <div class="title">Mis Inversiones</div>
        <ul id="menu2">
            <li class="inv-nacionales" ng-class="{'active':ctrl.seccionId == 0}">
                <a href="#/mis-inversiones/nacionales" class="clink">
                    Inversiones Nacionales
                </a>
            </li>
            <li class="inv-internacionales">
                <a href="https://www.netxinvestor.com/web/netxinvestor/login" target="_blank" class="clink">
                    Inversiones Internacionales
                    <img src="../.build/img/icon_external-link.png" class="external-link" />
                </a>
            </li>
            <li class="fondos-mutuos" ng-class="{'active':ctrl.seccionId == 2}">
                <a href="#/mis-inversiones/fondos-mutuos" class="clink">
                    Fondos Mutuos y APV | Custodia Principal AGF
                </a>
            </li>
            <li class="estado-documentos" ng-class="{'active':ctrl.seccionId == 3}">
                <a href="#/mis-inversiones/estado-documentos" class="clink">
                    Estado de Documentos
                </a>
            </li>
            <li class="circularizacion" ng-class="{'active':ctrl.seccionId == 4}" ng-if="ctrl.authService.circularizacionPendiente">
                <a href="#/mis-inversiones/circularizacion" class="clink">
                    Circularización
                </a>
            </li>
        </ul>
    </div>

    <ng-include src="ctrl.seccionURI"></ng-include>

</div><!--end wrap-->