<div id="container">
    <div id="header">
        <div class="in">
            <div class="head">
                <div class="title">Inversiones Nacionales</div>
                <div class="subtitle"></div>
            </div>
        </div>
    </div>

    <div id="content" ng-controller="MisInversionesNacionalesCtrl as nacionalesCtrl">
        <div class="in">

            <div class="areas">
                <div class="one-area"><a href="" class="clink active">Cartola Resumen</a></div>
                <div class="one-area">
                    <loading param="nacionalesCtrl.balanceLoading" extra-class="'small'"></loading>
                    <a href="{{nacionalesCtrl.balance.Enlace}}" target="_blank" class="clink" ng-show="!nacionalesCtrl.balanceLoading">Acceso Cuenta de Inversiones<img src="../.build/img/icon_external-link.png" class="external-link" /></a>
                </div>
            </div>

            <div class="one-col">
                <div class="section-title">Mi Cuenta de Inversiones</div>

                <loading param="nacionalesCtrl.cartolaLoading"></loading>
                <uib-accordion close-others="false" ng-repeat="titulo in nacionalesCtrl.cartola.Titulos" ng-show="!nacionalesCtrl.cartolaLoading">
                    <uib-accordion-group class="accordion-box" ng-click="nacionalesCtrl.getConceptosTitulo(titulo,$index)" is-open="status.isOpen[$index]">
                        <uib-accordion-heading>
                            {{titulo.Descriptor}} {{ status.isOpen[$index] && titulo.Periodo ? '(al ' + titulo.Periodo + ')' : '' }} <i class="material-icons">{{status.isOpen[$index]? '&#xE313;' : '&#xE315;'}}</i>
                        </uib-accordion-heading>
                        <div id="cont-table">
                            <loading param="nacionalesCtrl.cartolaTitulosLoadings[$index]"></loading>
                            <table class="balance" ng-show="!nacionalesCtrl.cartolaTitulosLoadings[$index]">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th class="number">Saldo en Pesos</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="concepto in titulo.Conceptos" ng-class="{'sub-item':!$last, 'total':$last}">
                                        <td>{{concepto.Concepto}}</td>
                                        <td class="number">{{concepto.Valor|number:2}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="legal no-padding" ng-if="titulo.Descriptor == 'Renta Variable' && nacionalesCtrl.tieneSimultaneas">Operaciones Simultáneas: Monto valorizado a precio de mercado, si desea consultar el monto a plazo comprometido acceda al detalle disponible en su cuenta de inversiones.</div>
                        <div class="legal no-padding" ng-if="titulo.Descriptor == 'Renta Fija' && nacionalesCtrl.tienePactos">Operaciones Pactos: Monto valorizado a precio de mercado, si desea consultar el monto a plazo comprometido acceda al detalle disponible en su cuenta de inversiones.</div>
                    </uib-accordion-group>
                </uib-accordion>

                <div class="legal">
                    Los saldos presentados en este resumen corresponden a información provisoria, por lo que puede variar o ser rectificada en cualquier momento de acuerdo a las operaciones en curso. Para mayor detalle ingrese a su cuenta de Inversiones.
                </div>

            </div><!--end one-col -->
            <div id="clear"></div>

            <ng-include src="ctrl.constantService.templateFooterURI"></ng-include>

        </div><!--end in-->
    </div><!--end content-->

</div><!--end container-->

<div id="clear"></div>