<div id="container">
    <div id="header">
        <div class="in">
            <div class="head">
                <div class="title">Inversiones Nacionales</div>
                <div class="subtitle"></div>
            </div>
        </div>
    </div>

    <div id="content" ng-controller="MisInversionesNacionalesCtrl as nacionalesCtrl">
        <div class="in">

            <div class="areas">
                <div class="one-area"><a href="" class="clink active">Cartola Resumen</a></div>
                <div class="one-area"><a href="{{nacionalesCtrl.balance.Enlace}}" target="_blank" class="clink">Balance<img src="../.build/img/icon_external-link.png" class="external-link" /></a></div>
            </div>

            <div class="one-col">
                <div class="section-title">Mi Cuenta de Inversiones (al {{nacionalesCtrl.cartola.Periodo}})</div>

                <div id="cont-table">
                    <loading param="nacionalesCtrl.cartolaLoading"></loading>
                    <table class="balance" ng-show="!nacionalesCtrl.cartolaLoading">
                        <thead>
                            <tr>
                                <th></th>
                                <th class="number">Saldo en Pesos</th>
                                <th class="number">Porcentaje de Cartera</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="titulo in nacionalesCtrl.cartola.Titulos">
                            <tr ng-repeat="concepto in titulo.Conceptos" ng-class="{'sub-item':!$last, 'total':$last}">
                                <td>{{concepto.Concepto}}</td>
                                <td class="number">{{concepto.Valor|currency}}</td>
                                <td class="number">{{concepto.Porcentaje|number}}%</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="legal">
                    La información sobre los saldos presentados más arriba corresponde exclusivamente a aquellos clientes titulares directos, en Principal Administradores General de Fondos S.A., de cuotas de fondos mutuos administrados por esta, y no aquellas que son custodiadas en Tanner Corredores de Bolsa. Para consultar los saldos respecto estas últimas, le solicitamos por favor acceder a Inversiones Nacionales.
                </div>

            </div><!--end one-col -->
            <div id="clear"></div>

            <ng-include src="ctrl.constantService.templateFooterURI"></ng-include>

        </div><!--end in-->
    </div><!--end content-->

</div><!--end container-->

<div id="clear"></div>